# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Data files
*.csv
datasets/creditcard.csv

# Outputs
outputs/*.csv
outputs/*.pkl

# Environment variables
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

__pycache__/
*.pyc
outputs/*.csv
datasets/creditcard.csv
*.csv
.venv/
.env